$contact-list--vertical-gutter: 10px;
$contact-list--horizontal-gutter: 30px;

:host {
  flex-grow: 1;
  overflow-y: scroll;
}

.contact-list {
  // overflow-y: scroll;
  // height: 100%;
}

.contact-list__contact-item {
  display: flex;
  flex-direction: row;
  margin: $contact-list--vertical-gutter $contact-list--horizontal-gutter;
  padding: 0 20px;
  align-items: center;
  gap: 25px;
  border-radius: 10px;
  transition: all ease 0.25s;
  cursor: pointer;

  &:hover,
  &.active {
    background-color: #2a3647;

    .contact-name {
      color: white;
    }
  }
}

.contact-list__contact-separator {
  margin: $contact-list--vertical-gutter $contact-list--horizontal-gutter;
  .contact-separator__content {
    border-bottom: 1px solid #d1d1d1;
    font-size: 20px;
    font-weight: 400;
    padding: 10px 32px;
  }
}

.contact-item {
  &__logo {
    .logo-initials {
      width: 42px;
      aspect-ratio: 1 / 1;
      border-radius: 100%;

      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .contact-name {
      margin: 0;
      font-size: 20px;
      font-weight: 400;
      transition: all ease 0.35s;
    }
    .contact-email {
      color: #007cee;
    }
  }
}
