@use './../../../../styles/variables.scss' as *;

.add-contact-button {
  background-color: $color-primary;
  color: $color-white;
  border: none;
  padding: 10px 12px;
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  box-sizing: border-box;

  &:hover {
    background-color: $color-primary-hover;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.203);
    transform: scale(1.018);
    transition: transform 0.4s ease-out;
  }
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;

  ::ng-deep svg {
    path {
      fill: $color-white;
    }
  }
}

.icon-invert {
  stroke: $color-primary;

  ::ng-deep svg {
    path {
      fill: $color-primary;
    }
  }
}

.invert {
  background-color: $color-white !important;
  color: $color-primary;
  border: 2px solid $color-primary;

  &:hover {
    color: $color-primary-hover;
    border-color: $color-primary-hover;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.203);
    transform: scale(1.018);
    transition: transform 0.4s ease-out;

    .icon-invert {
      stroke: $color-primary-hover;

      ::ng-deep svg {
        path {
          fill: $color-primary-hover;
        }
      }
    }

  }
}

.round {
  border-radius: 50%;
  padding: 8px !important;
}

.xsmall {
  height: 56px;
  width: 56px;

  .icon {
    height: 32px;
    width: 32px;
  }
}

.small {
  height: 42px;
  max-width: 120px;
}

.medium {
  height: 48px;
  min-width: 80px;
  max-width: 280px;
}

.large {
  height: 48px;
  min-width: 100%;
  max-width: 420px;
}

.dynamic {
  height: 53px;
  width: 100%;
  padding: 10px 16px;
}