:host {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logIn-wrapper {
    height: 450px;
    width: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
}