<div class="page-wrapper" [class.fade]="fade">
    <div class="logo-wrapper" [class.animate]="animate">
        <img src="assets/logo/join-logo-black.svg" alt="Join Logo" class="logo" [class.animate]="animate">
    </div>
    <div class="button-wrapper">
        <span class="sign-text">
            Not a Join user?
        </span>
        <app-button [size]="'small'" (btnClick)="signUpShow = true">Sign up</app-button>
    </div>
    <div class="logIn-wrapper">
        <app-log-in class="logIn-window" [signUpShow]="signUpShow" (signUpClose)="signUpShow = false"></app-log-in>
    </div>
</div>
