@use '../../../styles/variables.scss' as *;
@use '../../../styles/mixings.scss' as *;

:host {
    height: 100%;
    width: 100%;
    background-color: $color-primary-bg;
}

.page-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    z-index: 145;

    &.fade {
        opacity: 0;
        transition: opacity 0.3s ease;
    }
}

.button-wrapper {
    position: absolute;
    top: 64px;
    right: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    .sign-text {
        font-size: 20px;
        line-height: 120%;
        font-weight: 400;
    }
}

.logIn-wrapper {
    height: 450px;
    width: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: height 0.2s ease, width 0.2s ease;

    &.sign-up {
        height: 630px;
        width: 600px;
        transition: width 0.2s ease;
    }
}

.logo-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: $color-primary-bg;
    z-index: 150;

    &.animate {
        animation: logoWrapAnimation 0.5s ease-in;
        width: auto;
        height: auto;
    }

    .logo {
        width: 180px;
        margin: 0;

        &.animate {
            width: 88px;
            margin-left: 64px;
            margin-top: 64px;
            animation: logoAnimation 0.5s ease-in;
        }
    }
}

@keyframes logoAnimation {
    0% {
        width: 180px;
        margin: 0;
    }

    100% {
        width: 88px;
        margin-left: 64px;
        margin-top: 64px;
    }
}

@keyframes logoWrapAnimation {
    0% {
        height: 100%;
        width: 100%;
        background-color: $color-primary-bg;
    }

    40% {
        background-color: transparent;
    }

    100% {
        height: 20%;
        width: 11%;
        background-color: transparent;
    }
}

.lower-wrapper {
    position: absolute;
    bottom: 30px;

    .lower-links-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .lower-link {
        color: $color-dark-text;
        text-decoration: none;
        font-weight: 600;
        transition: transform 0.2s ease;

        &:hover {
            transform: scale(1.06);
            transition: transform 0.2s ease;
            color: $color-primary-hover;
        }
    }
}

.d-none {
    display: none !important;
}