@use '../../../styles/variables.scss' as *;
@use '../../../styles/mixings.scss' as *;


:host {
    height: 100%;
    width: 100%;
    background-color: $color-primary-bg;
}

.page-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logIn-wrapper {
    height: 450px;
    width: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: logoWrapAnimation 1.6s ease-in;
    z-index: 15;


    .logo {
        width: 88px;
        margin-left: 64px;
        margin-top: 64px;
        animation: logoAnimation 1.2s ease-out;
    }
}

@keyframes logoAnimation {
    0% {width: 180px; margin: 0;}
    100% {width: 88px; margin-left: 64px; margin-top: 64px;}
}

@keyframes logoWrapAnimation {
    0% {height: 100%; width: 100%; background-color: $color-primary-bg;}
    40% {background-color: transparent;}
    100% {height: 20%; width: 11%; background-color: transparent;}
}