<div class="logIn-wrapper">
    <div class="logIn-content">
        <div class="logIn-title">
            @if (!signUpShow) {
            <h1>Log in</h1>
            } @else {
                <h1>Sign up</h1>
            }
            <div class="blue-underline"></div>
        </div>
        <div class="logIn-window">
            @if (!signUpShow) {
            <form class="logIn-form" (ngSubmit)="logIn(this.logInEmail, this.logInPassword)" #logInForm="ngForm">
                <div class="input-wrapper">
                    <input
                        type="text"
                        class="input-sm border blue-focus"
                        name="email"
                        placeholder="Email"
                        required
                        [(ngModel)]="logInEmail"
                        #logInEmailVar="ngModel"
                        [class.red-border]="warn"
                    />
                    <img class="input-icon" src="assets/icons/mail.svg" alt="E-Mail icon">
                </div>
                <div class="input-wrapper">
                    <input
                        type="password"
                        class="input-sm border blue-focus"
                        name="password"
                        placeholder="Password"
                        required
                        [(ngModel)]="logInPassword"
                        #logInPasswordVar="ngModel"
                        [class.red-border]="warn"
                    />
                    <img class="input-icon" src="assets/icons/lock.svg" alt="Password icon">
                    <div class="warn-text" [class.opacity-1]="warn">Check your email and password. Please try again.</div>
                </div>
                <div class="button-wrapper">
                    <app-button [type]="'submit'">Log in</app-button>
                    <app-button [invert]="true" (btnClick)="this.logIn('test@haensch.dev', '123456')">Guest Log in</app-button>
                </div>
            </form>
        } @else {
            <div class="back-button">
            <app-button [border]="false" [round]="true" [invert]="true" (btnClick)="signUpShow = false; closeSignUp()" [iconSrc]="'assets/icons/arrow_back.svg'"></app-button>
            </div>
            <form class="signUp-form" (ngSubmit)="signUp(this.signUpName, this.signUpEmail, this.signUpPassword1, this.signUpPassword2)" #signUpForm="ngForm">
                <div class="input-wrapper">
                    <input
                        type="text"
                        class="input-sm border blue-focus"
                        name="name"
                        placeholder="Name"
                        required
                        [(ngModel)]="signUpName"
                        #signUpEmailVar="ngModel"
                        [class.red-border]="warn"
                    />
                    <img class="input-icon" src="assets/icons/person.svg" alt="E-Mail icon">
                </div>
                <div class="input-wrapper">
                    <input
                        type="text"
                        class="input-sm border blue-focus"
                        name="email"
                        placeholder="Email"
                        required
                        [(ngModel)]="signUpEmail"
                        #signUpEmailVar="ngModel"
                        [class.red-border]="warn"
                    />
                    <img class="input-icon" src="assets/icons/mail.svg" alt="E-Mail icon">
                </div>
                <div class="input-wrapper">
                    <input
                        type="password"
                        class="input-sm border blue-focus"
                        name="password1"
                        placeholder="Password"
                        required
                        [(ngModel)]="signUpPassword1"
                        #signUpPassword1Var="ngModel"
                        [class.red-border]="warn"
                    />
                    <img class="input-icon" src="assets/icons/lock.svg" alt="Password icon">
                </div>
                <div class="input-wrapper">
                    <input
                        type="password"
                        class="input-sm border blue-focus"
                        name="password2"
                        placeholder="Confirm Password"
                        required
                        [(ngModel)]="signUpPassword2"
                        #signUpPassword2Var="ngModel"
                        [class.red-border]="warn"
                    />
                    <img class="input-icon" src="assets/icons/lock.svg" alt="Password icon">
                    <div class="warn-text" [class.opacity-1]="warn">Your passwords don't match. Please try again.</div>
                </div>
                <div class="input-wrapper check">
                    <div class="privacy-checkdiv" (click)="toggleCheckBox()">
                        <div class="box" id="privacySelectBox" [class.active]="privacyCheckbox"></div>
                        <div class="checkmark-slide">
                            <div class="checkmark-wrap" id="privacySelectCheckWrap" [class.active]="privacyCheckbox">
                                <img src="assets/icons/check_pri.svg" class="checkmark" alt="Checkmark">
                            </div>
                        </div>
                    </div>
                    <span>I accept the <a routerLink="privacy" class="blue-link">Privacy policy</a></span>
                </div>
                <div class="button-wrapper">
                    <app-button [type]="'submit'">Sign up</app-button>
                </div>
            </form>
        }
        </div>
    </div>
</div>
