<div class="logIn-wrapper">
    <div class="logIn-content">
        <div class="logIn-title">
            <h1>Log in</h1>
            <div class="blue-underline"></div>
        </div>
        <div class="logIn-window">
            <form class="logIn-form" (ngSubmit)="logIn()" #logInForm="ngForm">
                <div class="input-wrapper">
                    <input
                        type="text"
                        class="input-sm border blue-focus"
                        name="email"
                        placeholder="Email"
                        required
                        [(ngModel)]="logInEmail"
                        #logInEmailVar="ngModel"
                        [class.red-border]="warn"
                    />
                    <img class="input-icon" src="assets/icons/mail.svg" alt="E-Mail icon">
                </div>
                <div class="input-wrapper">
                    <input
                        type="password"
                        class="input-sm border blue-focus"
                        name="password"
                        placeholder="Password"
                        required
                        [(ngModel)]="logInPassword"
                        #logInPasswordVar="ngModel"
                        [class.red-border]="warn"
                    />
                    <img class="input-icon" src="assets/icons/lock.svg" alt="Password icon">
                    <div class="warn-text" [class.opacity-1]="warn">Check your email and password. Please try again.</div>
                </div>
                <div class="button-wrapper">
                    <app-button>Log in</app-button>
                    <app-button [invert]="true">Guest Log in</app-button>
                </div>
            </form>
        </div>
    </div>
</div>
