@use "../../../styles/variables.scss" as *;

.content-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 90px 76px;
    padding-bottom: 0 !important;
    max-width: 1280px;
    width: 100%;
}

.summary-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__headline {
      font-weight: bold;
      font-size: 47px;
      margin: 0;
    }

    .header__subline {
      font-weight: 400;
      font-size: 20px;
    }
  

