@use "./../../../styles/variables.scss" as *;

.head-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: end;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 12px 0;
  z-index: 10;

  .head {
    width: 88%;
    margin-right: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .user-menu-wrapper {
      display: flex;
      position: relative;

      .user-menu {
        position: absolute;
        top: 64px;
        left: -60px;
        padding: 20px 6px;
        display: none;
        flex-direction: column;
        background-color: $color-primary;
        border-radius: 16px;
        border-top-right-radius: 0;

        a {
          white-space: nowrap;
          text-decoration: none;
          color: $color-text;
          padding: 12px 12px;
          font-weight: 400;
          font-size: 16px;
          line-height: 120%;
          transition: transform 0.2s;

          &:hover {
            background-color: $color-dark-hover;
            transform: scale(1.02) translateX(-1px) translateY(-0.6px);
            transition: transform 0.4s ease-out background-color 0.3s;
            color: $color-white;
            cursor: pointer;
          }
        }
      }

      .flex {
        display: flex;
      }
    }

    .right-wrapper {
      display: flex;
      align-items: center;

      .btn {
        height: 18px;
        width: 18px;
        margin-left: 8px;
        margin-right: 8px;
        font-size: 12px;
        font-weight: bold;
        text-decoration: none;
        background-color: transparent;
        border: 2px solid $color-dark-text;
        border-radius: 50%;
        color: $color-dark-text;
        transition: background-color 0.3s ease-out;

        span {
          margin-left: 5.5px;
          font-size: 14px;
        }

        &:hover {
          cursor: pointer;
          background-color: #ebebeb;
          transition: background-color 0.2s ease-in;
        }
      }

      .help-btn {
        transition: transform 0.4s ease-out;
      }

      .help-btn:hover {
        background-color: $color-white;
        cursor: pointer;
        transform: scale(1.18);
        transition: transform 0.4s ease-out;
      }

      .acc-btn {
        height: 48px;
        width: 48px;
        font-size: 18px;
        font-weight: bold;
        border-color: black;
        border-width: 2px;
        color: $color-primary-hover;
      }
    }
  }
}