<div class="head-wrapper">
    <div class="head">
        <div class="left-wrapper">
            <p>Kanban Project Management Tool</p>
        </div>
        <div class="right-wrapper">
            <button class="btn help-btn" href="help">?</button>
            <div class="user-menu-wrapper">
                <button class="btn acc-btn" (click)="toggleMenu()">UU</button>
                <nav class="user-menu" [ngClass]="this.activeFlex ? 'flex' : ''" (mouseleave)="this.toggleMenu()">
                    <a href="legal">Legal Notice</a>
                    <a href="privacy">Privacy Policy</a>
                    <a href="logout">Log Out</a>
                </nav>
            </div>
        </div>
    </div>
</div>
