$color-primary: #2a3647;
$color-primary-hover: #29abe2;
$color-dark-hover: #313e50;
$color-white: #ffffff;
$color-text: #cdcdcd;
$color-dark-text: #a8a8a8;
$body-font-family: Inter;

$header-height: 96px;
$footer-height: 80px;

$mq-mobile: 980px;