<div *ngIf="isOpen" class="modal-backdrop">
  <div class="modal-wrapper" [ngClass]="{ 'slide-in': isOpen }">
    <div class="modal">

      <button class="modal-close-btn" (click)="closeModal()">
        <img src="assets/icons/close.svg" alt="Close" />
      </button>

      <div class="modal-left">
        <img src="assets/logo/join-logo-white.svg" alt="Logo" class="modal-logo" />
        <h1>Edit Contact</h1>
        <div class="horizontal-separator"></div>
      </div>

      <div class="modal-right" *ngIf="contact">
        <div class="modal-avatar">
          <p class="logo-initials" [style.background-color]="contact.id | coloredProfile">
            {{ liveInitials }}
          </p>
        </div>

        <form (ngSubmit)="saveContact()" #editContactForm="ngForm">

          <!-- Name -->
          <div class="input-with-icon">
            <input type="text" placeholder="Name" required [(ngModel)]="fullName" name="fullName" #nameV="ngModel" />
            <img src="assets/icons/person.svg" alt="Name" />
          </div>
          @if(editContactForm.submitted && nameV.errors?.['required']) {
          <small class="form-error">Name is required</small>
          }

          <!-- E-Mail -->
          <div class="input-with-icon">
            <input type="email" placeholder="Email" required [(ngModel)]="contact.email" name="email" #emailV="ngModel"
              email />
            <img src="assets/icons/mail.svg" alt="Email" />
          </div>
          @if(editContactForm.submitted && emailV.errors?.['required']) {
          <small class="form-error">Email is required</small>
          }
          @if (editContactForm.submitted && emailV.errors?.['email']) {
          <small class="form-error">Please enter a valid email address</small>
          }

          <!-- Telefon -->
          <div class="input-with-icon">
            <input type="tel" placeholder="Phone" required [(ngModel)]="contact.phoneNumber" name="phoneNumber"
              pattern="^[0-9\\s\\-\\+\\(\\)]{6,}$" #phoneV="ngModel" />
            <img src="assets/icons/call.svg" alt="Phone" />
          </div>
          @if(editContactForm.submitted && phoneV.errors?.['required']) {
          <small class="form-error">Phone is required</small>
          }
          @if (editContactForm.submitted && phoneV.errors?.['pattern']) {
          <small class="form-error">Enter a valid phone number (min. 6 digits)</small>
          }

          <div class="modal-buttons">
            <app-button altText="Delete" [fontSize]="'16px'" [invert]="true" (btnClick)="deleteContact()">
              Delete
            </app-button>

            <app-button iconSrc="assets/icons/check.svg" altText="Save" [fontSize]="'16px'" (btnClick)="saveContact()">
              Save Contact
            </app-button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>