.content-wrapper {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 80vh;
}

.contact-list-wrapper {
  max-width: 35%;
  width: 100%;
  overflow-y: scroll;
}

.contact-details-wrapper {
  max-width: 65%;
  width: 100%;
  background-color: #f6f7f8;
}
