.page-wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;

  app-sidebar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 232px;
  }

  .content {
    width: 100%;
    overflow-y: hidden;
    height: 100%;
  }
}

// <div class="page-wrapper">
//   <app-sidebar></app-sidebar>
//   <div class="content">
//     <app-header></app-header>
//     <router-outlet></router-outlet>
//   </div>
// </div>

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}
