<form (ngSubmit)="submitContact()">
  <input
    name="firstName"
    [(ngModel)]="contact.firstName"
    placeholder="First Name"
    required
  />
  <input
    name="lastName"
    [(ngModel)]="contact.lastName"
    placeholder="Last Name"
    required
  />
  <input
    name="email"
    [(ngModel)]="contact.email"
    placeholder="Email"
    required
  />
  <input
    name="phoneNumber"
    [(ngModel)]="contact.phoneNumber"
    placeholder="Phone"
    required
  />
  <button type="submit">Add Contact</button>
</form>
