.page-wrapper {
  display: flex;
  flex-direction: row;
  height: 100vh;

  app-sidebar {
    position: sticky;
    top: 0;
    left: 0;
    width: 15vw;
    min-width: 220px;
  }

  .content {
    max-width: 85vw;
    width: 100%;
    overflow-y: hidden;
    height: calc(100vh - 75px);
  }

  app-router {
    height: 89vh;
  }
}
