<div class="sidebar-wrapper">
  <div class="sidebar">
    <div class="upper-wrapper">
      <a routerLink="/"
        ><img
          class="logo"
          src="assets/logo/join-logo-white.svg"
          alt="Join Logo"
      /></a>
      <nav class="main-nav">
        <a routerLink="summary" [ngClass]="this.summaryActive ? 'active' : ''">
          <div class="btn-inner">
            <div [innerHTML]="svgContents['summary']" class="icon"></div>
            <span>Summary</span>
          </div>
        </a>
        <a routerLink="addTask" [ngClass]="this.addTaskActive ? 'active' : ''">
          <div class="btn-inner">
            <div [innerHTML]="svgContents['addTask']" class="icon"></div>
            <span>Add Task</span>
          </div>
        </a>
        <a routerLink="board" [ngClass]="this.boardActive ? 'active' : ''">
          <div class="btn-inner">
            <div [innerHTML]="svgContents['board']" class="icon"></div>
            <span>Board</span>
          </div>
        </a>
        <a
          routerLink="contacts"
          [ngClass]="this.contactsActive ? 'active' : ''"
        >
          <div class="btn-inner">
            <div [innerHTML]="svgContents['contacts']" class="icon"></div>
            <span>Contacts</span>
          </div>
        </a>
      </nav>
    </div>
    <div class="lower-wrapper">
      <a
        routerLink="/privacy"
        class="lower-wrapper__link"
        routerLinkActive="active"
        >Privacy Policy</a
      >
      <a
        routerLink="/legal"
        class="lower-wrapper__link"
        routerLinkActive="active"
        >Legal Notice</a
      >
    </div>
  </div>
</div>
