<div class="sidebar-wrapper">
    <div class="sidebar">
        <div class="upper-wrapper">
            <a href="/"><img class="logo" src="assets/logo/join-logo-white.svg" alt="Join Logo"></a>
            <nav class="main-nav">
                <a href="summary"><img src="assets/icons/summary.svg" alt="Summary image"><span>Summary</span></a>
                <a href="addTask"><img src="assets/icons/add-task.svg" alt="Add Task icon"><span>Add Task</span></a>
                <a href="board"><img src="assets/icons/board.svg" alt="Board icon"><span>Board</span></a>
                <a href="contacts"><img src="assets/icons/contacts.svg" alt="Contacts icon"><span>Contacts</span></a>
            </nav>
        </div>
        <div class="lower-wrapper">
            <a href="privacy">Privacy Policy</a>
            <a href="legal">Legal Notice</a>
        </div>
    </div>
</div>
