@use '../../../../styles/variables.scss' as *;
@use '../../../../styles/mixings.scss' as *;

:host {
    width: 100%;
}

.input {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    .input-title {
        display: flex;
        margin-bottom: 4px;
    }

    .input-sm {
        height: 48px;
        width: 100%;
    }

    .border {
        border: 1px solid $color-input-border;
        border-radius: 8px;
        padding: 8px
    }
}

.btn:hover {
    cursor: pointer;
}

.subtask-input {
    position: relative;
    z-index: 0;

    .icon-wrapper {
        position: absolute;
        top: 36px;
        right: 13px;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        .icon-plus {
            position: relative;
            height: 24px;
            width: 24px;
            text-align: center;
            display: flex;
                align-items: center;
                justify-content: center;

            .plus {
                font-size: 24px;
                position: absolute;
                bottom: 0;                
            }

            &:hover {
                background-color: $color-input-border;
                border-radius: 50%;
            }
        }
    }

    .wrap-create {
        justify-content: center;
        align-items: center;
        gap: 4px;
        display: none;

        .icon-x {
            height: 24px;

            &:hover {
                background-color: $color-input-border;
                border-radius: 50%;
            }
        }

        .icon-check {
            height: 24px;
            width: 24px;
            padding-left: 3px;

            &:hover {
                background-color: $color-input-border;
                border-radius: 50%;
            }
        }
    }
}

.subtask-wrapper {
    width: 100%;

    .subtask-list {
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .subtask {
        width: 90%;
    }
}

.seperator-mini {
    height: 24px;
    width: 1.2px;
    background-color: $color-text;
    border-radius: 1px;
}

.d-flex {
    display: flex !important;
}

.d-none {
    display: none !important;
}