<div class="input subtask-input">
    <label for="taskSubtask" class="input-title">Subtasks</label>
    <input placeholder="Add new Subtask" size="1" [(ngModel)]="taskSubtask" name="taskSubtask"
        #taskCategoryVar="ngModel" class="input-sm border" (click)="this.subtaskActive=true" />
    <div class="icon-wrapper">
        <div class="icon-plus btn" (click)="this.subtaskActive=true" [class.d-none]="subtaskActive"><span
                class="plus">+</span></div>
        <div class="wrap-create btn" [class.d-flex]="subtaskActive">
            <div class="icon-x">
                <img src="assets/icons/close.svg" alt="Cancel">
            </div>
            <div class="seperator-mini"></div>
            <div class="icon-check btn" (click)="addSubtask()">
                <img src="assets/icons/check_pri.svg" alt="Add Subtask">
            </div>
        </div>
    </div>
</div>

<div class="subtask-wrapper">
    @if (subtasks) {
    <ul class="subtask-list">
        @for (subtask of subtasks; track $index) {
        <li class="subtask" [class.hover]="subtask.hover">
            <div class="subtask__inner" (pointerenter)="subtask.hover = true" 
                (pointerdown)="subtask.hover = true" 
                (pointerleave)="subtask.hover = false">
                <span class="subtask__inner_title">
                    {{subtasks[$index].title}}
                </span>
                <div class="icon-wrapper-small" (click)="editSubtask($index)" [class.hover]="subtask.hover">
                    <div class="icon-container icon-edit">
                        <img src="assets/icons/edit.svg" alt="Edit Subtask" class="icon">
                    </div>
                    <div class="seperator-mini" (click)="deleteSubtask($index)" [class.hover]="subtask.hover"></div>
                    <div class="icon-container icon-delete">
                        <img src="assets/icons/delete.svg" alt="Delete Subtask" class="icon">
                    </div>
                </div>
            </div>
        </li>
        }
    </ul>
    }
</div>