<div class="task-card">
  <div class="task-type">{{ getTaskCategory() }}</div>
  <h3>{{ task.title }}</h3>
  <p>{{ task.description }}</p>

  <div class="progress-wrapper">
    <div class="progress-container">
      <div
        class="progress-bar"
        [style.width.%]="(subtasksDone() / subtasksTotal()) * 100"
      ></div>
    </div>
    <div class="progress-text">
      {{ subtasksDone() }}/{{ subtasksTotal() }} Subtasks
    </div>
  </div>

  <div class="bottom-row">
    <div class="assignees">
      @for (a of task.assignedTo; track a) {
      <span class="avatar">CH</span>
      }
    </div>
    <img
      src="assets/icons/Priority symbols.svg"
      alt="Priority"
      class="priority-icon"
    />
  </div>
</div>
